In [4]:
# Markdown in this area required

In [5]:
#Importing the required packages and getting the xlsx file
import pandas as pd
 
#Storing the file path in our desktop
file_path = '~/Desktop/CompleteDataAnalysis/ChampoCarpetsCase/Champo.xlsx'

In [6]:
# We can print all of our sheet names after traversing through the xlsx file
xls = pd.ExcelFile(file_path)
print(xls.sheet_names)

['Copyright @ IIMB', 'Raw Data-Order and Sample', 'Data Order ONLY', 'Data on Sample ONLY', 'Data for Recommendation', 'Data for Clustering', 'Data - Association Rules A-11 ']

In [7]:
#Loading all of our sheets data into seperate variables

RawDataOrder = pd.read_excel(file_path, sheet_name = 'Raw Data-Order and Sample')
DataOrderOnly = pd.read_excel(file_path, sheet_name = 'Data Order ONLY')
DataOnSampleOnly = pd.read_excel(file_path, sheet_name = 'Data on Sample ONLY')
RecommendationData = pd.read_excel(file_path, sheet_name = 'Data for Recommendation')
ClusteringData = pd.read_excel(file_path, sheet_name = 'Data for Clustering')
AssocRulesData = pd.read_excel(file_path, sheet_name = 'Data - Association Rules A-11 ')

In [8]:
# Going through the data for finding out missing values through all of the sheets for missing values

# First we are loading all of the sheets into a dictionary of dataframes

dfs = pd.read_excel(file_path, sheet_name = None) #Note that sheet_name is None loads all of the sheets


#Now we try to iterate through each sheet for its info
for sheet_name, df in list(dfs.items())[1:]:
    print(f"Sheet Name: {sheet_name}")
    df.info()
    print("\n"+ "="*50 + "\n")

Sheet Name: Raw Data-Order and Sample
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18955 entries, 0 to 18954
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderType        18955 non-null  object
 1   OrderCategory    18955 non-null  object
 2   CustomerCode     18955 non-null  object
 3   CountryName      18955 non-null  object
 4   CustomerOrderNo  18946 non-null  object
 5   Custorderdate    18955 non-null  datetime64[ns]
 6   UnitName         18955 non-null  object
 7   QtyRequired      18955 non-null  int64
 8   TotalArea        18955 non-null  float64
 9   Amount           18955 non-null  float64
 10  ITEM_NAME        18955 non-null  object
 11  QualityName      18955 non-null  object
 12  DesignName       18955 non-null  object
 13  ColorName        18955 non-null  object
 14  ShapeName        18955 non-null  object
 15  AreaFt           18955 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(11)
memory usage: 2.3+ MB

==================================================

Sheet Name: Data Order ONLY
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13135 entries, 0 to 13134
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerCode  13135 non-null  object
 1   CountryName   13135 non-null  object
 2   QtyRequired   13135 non-null  int64
 3   TotalArea     13135 non-null  float64
 4   Amount        13135 non-null  float64
 5   ITEM_NAME     13135 non-null  object
 6   QualityName   13135 non-null  object
 7   DesignName    13135 non-null  object
 8   ColorName     13135 non-null  object
 9   ShapeName     13135 non-null  object
 10  AreaFt        13135 non-null  float64
 11  AreaMtr       13135 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.2+ MB

==================================================

Sheet Name: Data on Sample ONLY
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5820 entries, 0 to 5819
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerCode      5820 non-null   object
 1   CountryName       5820 non-null   object
 2   USA               5781 non-null   float64
 3   UK                5781 non-null   float64
 4   Italy             5781 non-null   float64
 5   Belgium           5781 non-null   float64
 6   Romania           5781 non-null   float64
 7   Australia         5781 non-null   float64
 8   India             5781 non-null   float64
 9   QtyRequired       5820 non-null   int64
 10  ITEM_NAME         5820 non-null   object
 11  Hand Tufted       5820 non-null   int64
 12  Durry             5820 non-null   int64
 13  Double Back       5820 non-null   int64
 14  Hand Woven        5820 non-null   int64
 15  Knotted           5820 non-null   int64
 16  Jacquard          5820 non-null   int64
 17  Handloom          5820 non-null   int64
 18  Other             5820 non-null   int64
 19  ShapeName         5820 non-null   object
 20  REC               5820 non-null   int64
 21  Round             5820 non-null   int64
 22  Square            5820 non-null   int64
 23  AreaFt            5820 non-null   float64
 24  Order Conversion  5820 non-null   int64
dtypes: float64(8), int64(13), object(4)
memory usage: 1.1+ MB

==================================================

Sheet Name: Data for Recommendation
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 44 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer      20 non-null     object
 1   Hand Tufted   20 non-null     int64
 2   Double Wowen  20 non-null     int64
 3   Durry         20 non-null     int64
 4   Double Back   20 non-null     int64
 5   Knotted       20 non-null     int64
 6   Jacquared     20 non-null     int64
 7   Handloom      20 non-null     int64
 8   Other         20 non-null     int64
 9   Rectangle     20 non-null     int64
 10  Square        20 non-null     int64
 11  Round         20 non-null     int64
 12  Purple        20 non-null     int64
 13  Gray          20 non-null     int64
 14  Navy          20 non-null     int64
 15  PINK          20 non-null     int64
 16  BLUE          20 non-null     int64
 17  BLUSH PINK    20 non-null     int64
 18  NEUTRAL       20 non-null     int64
 19  TAN           20 non-null     int64
 20  NAVY          20 non-null     int64
 21  Unnamed: 21   0 non-null      float64
 22  Unnamed: 22   0 non-null      float64
 23  Customer .1   20 non-null     object
 24  H-2           20 non-null     int64
 25  P-5           20 non-null     int64
 26  M-1           20 non-null     int64
 27  A-9           20 non-null     int64
 28  C-2           20 non-null     int64
 29  JL            20 non-null     int64
 30  N-1           20 non-null     int64
 31  T-5           20 non-null     int64
 32  C-1           20 non-null     int64
 33  T-2           20 non-null     int64
 34  I-2           20 non-null     int64
 35  PD            20 non-null     int64
 36  L-5           20 non-null     int64
 37  M-2           20 non-null     int64
 38  RC            20 non-null     int64
 39  P-4           20 non-null     int64
 40  T-4           20 non-null     int64
 41  PC            20 non-null     int64
 42  A-11          20 non-null     int64
 43  CC            20 non-null     int64
dtypes: float64(2), int64(40), object(2)
memory usage: 7.0+ KB

==================================================

Sheet Name: Data for Clustering
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Row Labels          45 non-null     object
 1   Sum of QtyRequired  45 non-null     int64
 2   Sum of TotalArea    45 non-null     float64
 3   Sum of Amount       45 non-null     float64
 4   DURRY               45 non-null     int64
 5   HANDLOOM            45 non-null     int64
 6   DOUBLE BACK         45 non-null     int64
 7   JACQUARD            45 non-null     int64
 8   HAND TUFTED         45 non-null     int64
 9   HAND WOVEN          45 non-null     int64
 10  KNOTTED             45 non-null     int64
 11  GUN TUFTED          45 non-null     int64
 12  Powerloom Jacquard  45 non-null     int64
 13  INDO TEBETAN        45 non-null     int64
dtypes: float64(2), int64(11), object(1)
memory usage: 5.1+ KB

==================================================

Sheet Name: Data - Association Rules A-11
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order No      11 non-null     int64
 1   BEIGE         11 non-null     int64
 2   CHARCOAL      11 non-null     int64
 3   DENIM         11 non-null     int64
 4   DK GREY       11 non-null     int64
 5   LT TURQUOISE  11 non-null     int64
 6   MID GREY      11 non-null     int64
 7   OLIVE GREEN   11 non-null     int64
 8   Unnamed: 8    0 non-null      float64
 9   Order No.1    11 non-null     int64
 10  SKU 1         11 non-null     object
 11  SKU 2         5 non-null      object
 12  SKU 3         2 non-null      object
 13  SKU 4         2 non-null      object
 14  SKU 5         2 non-null      object
 15  SKU 6         0 non-null      float64
 16  SKU 7         0 non-null      float64
dtypes: float64(3), int64(9), object(5)
memory usage: 1.6+ KB

==================================================

In [9]:
# Observed there are 9 values that are null in first sheet displaying the null values 

nullRows_CustomerOrderNo = RawDataOrder[RawDataOrder['CustomerOrderNo'].isnull()]
print(nullRows_CustomerOrderNo)

      OrderType OrderCategory CustomerCode CountryName CustomerOrderNo  \
6210    Pc Wise         Order          P-5         USA             NaN
6213    Pc Wise         Order          P-5         USA             NaN
6215    Pc Wise         Order          P-5         USA             NaN
6217    Pc Wise         Order          P-5         USA             NaN
6219    Pc Wise         Order          P-5         USA             NaN
6223    Pc Wise         Order          P-5         USA             NaN
8957  Area Wise         Order           CC       INDIA             NaN
8958  Area Wise         Order           CC       INDIA             NaN
8959  Area Wise         Order           CC       INDIA             NaN

     Custorderdate UnitName  QtyRequired  TotalArea  Amount    ITEM_NAME  \
6210    2017-08-29       Ft           50        6.0  1005.0  HAND TUFTED
6213    2017-08-29       Ft           20       15.0  1005.0  HAND TUFTED
6215    2017-08-29       Ft            5       40.0   670.0  HAND TUFTED
6217    2017-08-29       Ft           10       80.0  2680.0  HAND TUFTED
6219    2017-08-29       Ft           50        3.0   502.5  HAND TUFTED
6223    2017-08-29       Ft           10       20.0   670.0  HAND TUFTED
8957    2018-04-05       Ft            1        6.0     0.0  HAND TUFTED
8958    2018-04-05       Ft            1        6.0     0.0  HAND TUFTED
8959    2018-04-05       Ft            1        6.0     0.0  HAND TUFTED

                QualityName      DesignName    ColorName ShapeName  AreaFt
6210  TUFTED 30C HARD TWIST  PAISELY [8874]        MULTI       REC     6.0
6213  TUFTED 30C HARD TWIST  PAISELY [8874]        MULTI       REC    15.0
6215  TUFTED 30C HARD TWIST  PAISELY [8874]        MULTI       REC    40.0
6217  TUFTED 30C HARD TWIST  PAISELY [8874]        MULTI       REC    80.0
6219  TUFTED 30C HARD TWIST  PAISELY [8874]        MULTI       REC     3.0
6223  TUFTED 30C HARD TWIST  PAISELY [8874]        MULTI       REC    20.0
8957             TUFTED 60C           10041   WHITE/DOVE       REC     6.0
8958             TUFTED 60C           10041  GREY/INDIGO       REC     6.0
8959             TUFTED 60C           10041  WHITE/PETAL       REC     6.0

In [10]:
#Replacing the missing values with the median
RawDataOrder['CustomerOrderNo'] = pd.to_numeric(RawDataOrder['CustomerOrderNo'], errors='coerce')
regularRowsMedian = RawDataOrder['CustomerOrderNo'].median()

RawDataOrder['CustomerOrderNo'] = RawDataOrder['CustomerOrderNo'].fillna(regularRowsMedian)

In [11]:
# as we can see the data is now cleaned for the first sheet
RawDataOrder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18955 entries, 0 to 18954
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderType        18955 non-null  object
 1   OrderCategory    18955 non-null  object
 2   CustomerCode     18955 non-null  object
 3   CountryName      18955 non-null  object
 4   CustomerOrderNo  18955 non-null  float64
 5   Custorderdate    18955 non-null  datetime64[ns]
 6   UnitName         18955 non-null  object
 7   QtyRequired      18955 non-null  int64
 8   TotalArea        18955 non-null  float64
 9   Amount           18955 non-null  float64
 10  ITEM_NAME        18955 non-null  object
 11  QualityName      18955 non-null  object
 12  DesignName       18955 non-null  object
 13  ColorName        18955 non-null  object
 14  ShapeName        18955 non-null  object
 15  AreaFt           18955 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(10)
memory usage: 2.3+ MB

In [12]:
# Data on Sample Only has some missing values so we can continue cleaning it

DataOnSampleOnly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5820 entries, 0 to 5819
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerCode      5820 non-null   object
 1   CountryName       5820 non-null   object
 2   USA               5781 non-null   float64
 3   UK                5781 non-null   float64
 4   Italy             5781 non-null   float64
 5   Belgium           5781 non-null   float64
 6   Romania           5781 non-null   float64
 7   Australia         5781 non-null   float64
 8   India             5781 non-null   float64
 9   QtyRequired       5820 non-null   int64
 10  ITEM_NAME         5820 non-null   object
 11  Hand Tufted       5820 non-null   int64
 12  Durry             5820 non-null   int64
 13  Double Back       5820 non-null   int64
 14  Hand Woven        5820 non-null   int64
 15  Knotted           5820 non-null   int64
 16  Jacquard          5820 non-null   int64
 17  Handloom          5820 non-null   int64
 18  Other             5820 non-null   int64
 19  ShapeName         5820 non-null   object
 20  REC               5820 non-null   int64
 21  Round             5820 non-null   int64
 22  Square            5820 non-null   int64
 23  AreaFt            5820 non-null   float64
 24  Order Conversion  5820 non-null   int64
dtypes: float64(8), int64(13), object(4)
memory usage: 1.1+ MB

In [13]:
# Identified columns USA to india i.e 2 to 8 have null values so replacing them
columnsRemoveNull = DataOnSampleOnly.columns[1:9]

#Adding median to every columns from 2 to 8 that contain missing values
for column in columnsRemoveNull:
    if pd.api.types.is_numeric_dtype(DataOnSampleOnly[column]):
        median = DataOnSampleOnly[column].median()
        DataOnSampleOnly[column] = DataOnSampleOnly[column].fillna(median)
    else:
        print(f"Column '{column}' is not numeric and will be skipped.")

Column 'CountryName' is not numeric and will be skipped.

In [14]:
DataOnSampleOnly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5820 entries, 0 to 5819
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerCode      5820 non-null   object
 1   CountryName       5820 non-null   object
 2   USA               5820 non-null   float64
 3   UK                5820 non-null   float64
 4   Italy             5820 non-null   float64
 5   Belgium           5820 non-null   float64
 6   Romania           5820 non-null   float64
 7   Australia         5820 non-null   float64
 8   India             5820 non-null   float64
 9   QtyRequired       5820 non-null   int64
 10  ITEM_NAME         5820 non-null   object
 11  Hand Tufted       5820 non-null   int64
 12  Durry             5820 non-null   int64
 13  Double Back       5820 non-null   int64
 14  Hand Woven        5820 non-null   int64
 15  Knotted           5820 non-null   int64
 16  Jacquard          5820 non-null   int64
 17  Handloom          5820 non-null   int64
 18  Other             5820 non-null   int64
 19  ShapeName         5820 non-null   object
 20  REC               5820 non-null   int64
 21  Round             5820 non-null   int64
 22  Square            5820 non-null   int64
 23  AreaFt            5820 non-null   float64
 24  Order Conversion  5820 non-null   int64
dtypes: float64(8), int64(13), object(4)
memory usage: 1.1+ MB

In [15]:
# We have two other rows that have missing values for unnamed columns in data for recommendation

RecommendationData = RecommendationData.dropna(axis = 1, how = 'all')

print(RecommendationData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 42 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer      20 non-null     object
 1   Hand Tufted   20 non-null     int64
 2   Double Wowen  20 non-null     int64
 3   Durry         20 non-null     int64
 4   Double Back   20 non-null     int64
 5   Knotted       20 non-null     int64
 6   Jacquared     20 non-null     int64
 7   Handloom      20 non-null     int64
 8   Other         20 non-null     int64
 9   Rectangle     20 non-null     int64
 10  Square        20 non-null     int64
 11  Round         20 non-null     int64
 12  Purple        20 non-null     int64
 13  Gray          20 non-null     int64
 14  Navy          20 non-null     int64
 15  PINK          20 non-null     int64
 16  BLUE          20 non-null     int64
 17  BLUSH PINK    20 non-null     int64
 18  NEUTRAL       20 non-null     int64
 19  TAN           20 non-null     int64
 20  NAVY          20 non-null     int64
 21  Customer .1   20 non-null     object
 22  H-2           20 non-null     int64
 23  P-5           20 non-null     int64
 24  M-1           20 non-null     int64
 25  A-9           20 non-null     int64
 26  C-2           20 non-null     int64
 27  JL            20 non-null     int64
 28  N-1           20 non-null     int64
 29  T-5           20 non-null     int64
 30  C-1           20 non-null     int64
 31  T-2           20 non-null     int64
 32  I-2           20 non-null     int64
 33  PD            20 non-null     int64
 34  L-5           20 non-null     int64
 35  M-2           20 non-null     int64
 36  RC            20 non-null     int64
 37  P-4           20 non-null     int64
 38  T-4           20 non-null     int64
 39  PC            20 non-null     int64
 40  A-11          20 non-null     int64
 41  CC            20 non-null     int64
dtypes: int64(40), object(2)
memory usage: 6.7+ KB
None

In [16]:
# The data seems highly irregular and small for the association rules data evaluating the columns
AssocRulesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order No      11 non-null     int64
 1   BEIGE         11 non-null     int64
 2   CHARCOAL      11 non-null     int64
 3   DENIM         11 non-null     int64
 4   DK GREY       11 non-null     int64
 5   LT TURQUOISE  11 non-null     int64
 6   MID GREY      11 non-null     int64
 7   OLIVE GREEN   11 non-null     int64
 8   Unnamed: 8    0 non-null      float64
 9   Order No.1    11 non-null     int64
 10  SKU 1         11 non-null     object
 11  SKU 2         5 non-null      object
 12  SKU 3         2 non-null      object
 13  SKU 4         2 non-null      object
 14  SKU 5         2 non-null      object
 15  SKU 6         0 non-null      float64
 16  SKU 7         0 non-null      float64
dtypes: float64(3), int64(9), object(5)
memory usage: 1.6+ KB

In [17]:
# Assoc Rules Column evaluation
print(AssocRulesData['Order No'])

0     3314
1     3449
2     3661
3     3662
4     3666
5     4947
6     5443
7     5445
8     6785
9     6790
10    7338
Name: Order No, dtype: int64

In [18]:
# Removing 'Unnamed: 8' column completely
AssocRulesData.drop(columns=['Unnamed: 8'], inplace=True)

In [19]:
print(AssocRulesData['Order No.1'])

0     3314
1     3449
2     3661
3     3662
4     3666
5     4947
6     5443
7     5445
8     6785
9     6790
10    7338
Name: Order No.1, dtype: int64

In [26]:
# Observing through the SKU columns data
# Copy the SKU columns
sku_columns = AssocRulesData[['SKU 1', 'SKU 2', 'SKU 3', 'SKU 4', 'SKU 5', 'SKU 6', 'SKU 7']].copy()

# Apply forward fill
sku_columns.fillna(method='ffill', inplace=True)

# Apply backward fill
sku_columns.fillna(method='bfill', inplace=True)

# Attach the cleaned SKU columns back to the original DataFrame
AssocRulesData[['SKU 1', 'SKU 2', 'SKU 3', 'SKU 4', 'SKU 5', 'SKU 6', 'SKU 7']] = sku_columns

print(AssocRulesData)

    Order No  BEIGE  CHARCOAL  DENIM  DK GREY  LT TURQUOISE  MID GREY  \
0       3314      1         0      0        1             1         1
1       3449      1         0      0        1             1         1
2       3661      1         0      0        1             0         0
3       3662      1         0      0        1             0         0
4       3666      0         0      0        1             0         0
5       4947      1         0      0        1             0         0
6       5443      0         1      0        0             0         0
7       5445      0         1      0        0             0         0
8       6785      0         0      1        0             0         0
9       6790      0         0      1        0             0         0
10      7338      0         0      1        0             0         0

    OLIVE GREEN  Order No.1     SKU 1    SKU 2         SKU 3     SKU 4  \
0             1        3314     BEIGE  DK GREY  LT TURQUOISE  MID GREY
1             1        3449     BEIGE  DK GREY  LT TURQUOISE  MID GREY
2             0        3661     BEIGE  DK GREY  LT TURQUOISE  MID GREY
3             0        3662     BEIGE  DK GREY  LT TURQUOISE  MID GREY
4             0        3666   DK GREY  DK GREY  LT TURQUOISE  MID GREY
5             0        4947     BEIGE  DK GREY  LT TURQUOISE  MID GREY
6             0        5443  CHARCOAL  DK GREY  LT TURQUOISE  MID GREY
7             0        5445  CHARCOAL  DK GREY  LT TURQUOISE  MID GREY
8             0        6785     DENIM  DK GREY  LT TURQUOISE  MID GREY
9             0        6790     DENIM  DK GREY  LT TURQUOISE  MID GREY
10            0        7338     DENIM  DK GREY  LT TURQUOISE  MID GREY

          SKU 5  SKU 6  SKU 7
0   OLIVE GREEN    NaN    NaN
1   OLIVE GREEN    NaN    NaN
2   OLIVE GREEN    NaN    NaN
3   OLIVE GREEN    NaN    NaN
4   OLIVE GREEN    NaN    NaN
5   OLIVE GREEN    NaN    NaN
6   OLIVE GREEN    NaN    NaN
7   OLIVE GREEN    NaN    NaN
8   OLIVE GREEN    NaN    NaN
9   OLIVE GREEN    NaN    NaN
10  OLIVE GREEN    NaN    NaN

/var/folders/x8/6khz4yc16k79cclz854dnb5r0000gn/T/ipykernel_71877/2802025486.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sku_columns.fillna(method='ffill', inplace=True)
/var/folders/x8/6khz4yc16k79cclz854dnb5r0000gn/T/ipykernel_71877/2802025486.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sku_columns.fillna(method='bfill', inplace=True)

0     LT TURQUOISE
1     LT TURQUOISE
2              NaN
3              NaN
4              NaN
5              NaN
6              NaN
7              NaN
8              NaN
9              NaN
10             NaN
Name: SKU 3, dtype: object

0     DK GREY
1     DK GREY
2     DK GREY
3     DK GREY
4         NaN
5     DK GREY
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
Name: SKU 2, dtype: object